 .u-section-1 {
  background-image: url("images/front-view-kid-wearing-party-hat_23-2149477945.jpeg");
  background-position: 50% 50%;
  min-height: 785px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  min-height: 387px;
  height: auto;
  margin: 326px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 44px 0 0 99px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 500;
  margin: 0 92px 0 99px;
}

.u-section-1 .u-text-3 {
  margin: 32px 92px 0 99px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 782px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 470px);
    min-height: 338px;
    margin-top: 384px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-right: 233px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 26px;
    margin-right: 91px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 599px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 470px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 449px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 470px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 711px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    min-height: 262px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 245px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: url("images/Untitled-1.jpg");
  background-position: 50% 0%;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-sheet-1 {
  min-height: 505px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 70px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 30px;
  margin-bottom: -23px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 282px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-icon-1 {
  width: 103px;
  height: 103px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 500;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-icon-2 {
  width: 103px;
  height: 103px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 500;
  margin: 30px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-icon-3 {
  width: 103px;
  height: 103px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 500;
  margin: 30px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-icon-4 {
  width: 103px;
  height: 103px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 500;
  margin: 30px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -140px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 231px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    background-position: 3.32% 0%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 731px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    background-position: 94.03% 0%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -70px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 88.6% 0%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }
} .u-section-3 {
  background-image: none;
  margin-top: 20px;
}

.u-section-3 .u-sheet-1 {
  min-height: 97px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 120px;
  }
} .u-section-4 {
  background-image: url("images/Untitled-1.jpg");
  background-position: 50% 50%;
  margin-top: 20px;
}

.u-section-4 .u-sheet-1 {
  min-height: 580px;
}

.u-section-4 .u-text-1 {
  margin: 42px auto 0;
}

.u-section-4 .u-list-1 {
  width: 899px;
  margin: 31px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 355px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-icon-1 {
  width: 103px;
  height: 103px;
  margin: 0 auto;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 500;
  margin: 31px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 19px auto 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-icon-2 {
  width: 103px;
  height: 103px;
  margin: 0 auto;
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 500;
  margin: 31px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 19px auto 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-icon-3 {
  width: 103px;
  height: 103px;
  margin: 0 auto;
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 500;
  margin: 31px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 253px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -232px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    background-position: 4.1% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 768px;
  }

  .u-section-4 .u-list-1 {
    width: 434px;
    margin-top: -747px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 870px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: -734px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 63px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 42px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 556px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-image-1 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/rtrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 556px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-image-2 {
  height: 257px;
  object-position: 50% 60.72%;
  width: 257px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-5 .u-text-5 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 556px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-5 .u-image-3 {
  height: 257px;
  object-position: 50% 46.55%;
  width: 257px;
  background-image: url("images/pexels-gustavo-fring-3983570.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-5 .u-text-7 {
  font-style: italic;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-5 .u-image-1 {
    height: 187px;
    width: 187px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-5 .u-image-2 {
    height: 187px;
    width: 187px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 448px;
  }

  .u-section-5 .u-image-3 {
    height: 187px;
    width: 187px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-6 {
  background-image: none;
  margin-top: 20px;
}

.u-section-6 .u-sheet-1 {
  min-height: 1048px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Lobster, display;
  margin: 88px 79px 0;
}

.u-section-6 .u-gallery-1 {
  height: 745px;
  margin-top: 43px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-6 .u-over-slide-1 {
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  padding: 20px;
}

.u-section-6 .u-over-slide-5 {
  padding: 20px;
}

.u-section-6 .u-over-slide-6 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1060px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-gallery-1 {
    height: 614px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1504px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1058px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3620px;
  }

  .u-section-6 .u-gallery-1 {
    height: 3174px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2444px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-gallery-1 {
    height: 1998px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 287px;
}

.u-section-7 .u-list-1 {
  width: 1105px;
  margin: 60px auto;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 168px;
  grid-gap: 10px 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-weight: 500;
  margin: 24px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-7 .u-text-4 {
  font-weight: 500;
  margin: 24px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-7 .u-text-6 {
  font-weight: 500;
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    width: 940px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 142px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-list-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 339px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-5 {
    font-size: 3rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 66px;
}

.u-section-8 .u-custom-html-1 {
  margin-bottom: 0;
  height: auto;
  min-height: 66px;
  margin-top: 0;
}